/*
 * Primary = #1D3371
 * Secondary = #0087CC
 * Alt = #ED145B
 */
body {
	color: #1D3371;
	background-color:white;
	padding: 3%;
}

form {
	position:fixed;
}

.inline{
	display: inline;
}

.home-btn{
	width: 50px;
	height: 60px;
	float: left;
}

div {
	width:95%;
}

.alignRight{
	float: right;
}