/*
 * Primary = #1D3371
 * Secondary = #0087CC
 * Alt = #ED145B
 */
body {
	color: #1D3371;
	background-color:white;
}

form {
	padding: 10px;
	margin-left:5%;
	margin-right:5%;
}

img {
	margin-top:5%;
	margin-bottom:5%;
}

.home-btn
{
	padding:1%;
	float: left;
	width: 64px;
	height: 64px;
}